---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
---

<BaseLayout title="About Mamisha" description="Lorem ipsum dolor sit amet">
	<main class="p-6">
		<section class="p-6 text-center">
			<h2 class="text-2xl font-bold mb-4">Our Story</h2>
			<Image
				src="/img/about-1.jpg"
				alt="Catering Picture"
				width={768}
				height={768}
				class="max-h-svh lg:max-h-96 object-cover shadow-lg mx-auto m-6"
			/>
			<p class="text-lg mb-4">
				At Blessy Time, we believe that food is more than just
				sustenance—it's a way to bring people together and create unforgettable
				memories. Founded in 2020, our journey began with a simple mission: to
				provide high-quality, flavorful catering services that make every event
				special. Over the years, we've had the privilege of catering for
				hundreds of events, from intimate gatherings to grand celebrations.
				Whether it's a wedding, corporate function, or private party, we've
				built our reputation on delivering delicious, beautifully presented
				food, paired with impeccable service.
			</p>
		</section>
		<div class="divider"></div>
		<section class="p-6 text-center">
			<h2 class="text-2xl font-bold mb-4">Our Mission</h2>
			<p class="text-lg mb-4">
				Our mission is to offer exceptional catering experiences by combining
				fresh ingredients, innovative menus, and outstanding customer service.
				We're passionate about exceeding our clients' expectations and making
				every occasion a success, no matter the size or complexity.
			</p>
		</section>
		<div class="divider"></div>
		<section class="p-6 text-center">
			<h2 class="text-2xl font-bold mb-4">What Sets Us Apart</h2>
			<ul
				class="grid md:grid-cols-2 gap-4 justify-items-center max-w-screen-md mx-auto"
			>
				<li class="card bg-neutral text-neutral-content max-w-96 shadow-xl">
					<div class="card-body items-center text-center">
						<Icon class="text-7xl" name="mdi--notebook-edit" />
						<strong class="card-title">Personalized Service</strong>
						<p>
							We work closely with our clients to understand their needs and
							preferences, ensuring that every menu is tailored to the specific
							event.
						</p>
					</div>
				</li>
				<li class="card bg-neutral text-neutral-content max-w-96 shadow-xl">
					<div class="card-body items-center text-center">
						<Icon class="text-7xl" name="mdi--silverware-clean" />
						<strong class="card-title">Attention to Detail</strong>
						<p>
							From the ingredients we source to the presentation of our dishes,
							we pay attention to every detail to guarantee a flawless
							experience.
						</p>
					</div>
				</li>
				<li class="card bg-neutral text-neutral-content max-w-96 shadow-xl">
					<div class="card-body items-center text-center">
						<Icon class="text-7xl" name="mdi--nutrition" />
						<strong class="card-title">Versatility</strong>
						<p>
							From casual get-togethers to formal black-tie events, we offer a
							diverse range of catering options that can be customized to suit
							any style or budget.
						</p>
					</div>
				</li>
				<li class="card bg-neutral text-neutral-content max-w-96 shadow-xl">
					<div class="card-body items-center text-center">
						<Icon class="text-7xl" name="mdi--leaf" />
						<strong class="card-title">Sustainability</strong>
						<p>
							We are committed to using locally-sourced, sustainable ingredients
							whenever possible, ensuring that our menus are not only delicious
							but environmentally friendly.
						</p>
					</div>
				</li>
			</ul>
		</section>
		<div class="divider"></div>
		<section class="hero">
			<div class="hero-content flex-col lg:flex-row-reverse">
				<div class="text-center lg:text-left mb-auto lg:mt-6">
					<h1 class="text-5xl font-bold" id="contactUs">Let's Get Started!</h1>
					<p class="py-6">
						We will contact you back on WhatsApp!
					</p>
				</div>
				<div class="card bg-base-100 w-full max-w-sm shrink-0 shadow-2xl">
					<form class="card-body">
						<div class="form-control">
							<label class="label">
								<span class="label-text">Your Name</span>
							</label>
							<input
								type="text"
								placeholder="name"
								class="input input-bordered"
								maxlength="25"
								required
							/>
						</div>
						<div class="form-control">
							<label class="label">
								<span class="label-text">Phone Number</span>
							</label>
							<input
								type="text"
								placeholder="08x-xxx-xxx"
								class="input input-bordered"
								required
							/>
							<label class="label">
								<span class="label-text">Email</span>
							</label>
							<input
								type="email"
								placeholder="name@domain.com"
								class="input input-bordered"
								required
							/>
							<label class="label">
								<span class="label-text">Inquiry</span>
							</label>
							<textarea
								class="textarea textarea-bordered"
								placeholder="Your Inquiries Here"
								required></textarea>
						</div>
						<div class="form-control mt-6">
							<button class="btn btn-primary" disabled>Submit</button>
						</div>
					</form>
				</div>
			</div>
		</section>
	</main>
</BaseLayout>
