---
import BaseLayout from "../layouts/BaseLayout.astro";
import TestimonialCard from "../components/TestimonialCard.astro";
import { Image } from "astro:assets";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
	<main>
		<section
			class="hero min-h-screen"
			style="background-image: url(/hero-1.jpg);"
		>
			<div class="hero-overlay bg-neutral-950 bg-opacity-70"></div>
			<div class="hero-content text-neutral-content text-center">
				<div class="max-w-md">
					<h1 class="mb-5 text-5xl font-bold">Blessy Time Catering</h1>
					<p class="mb-5 text-3xl">Delicious Catering for Every Occasion</p>
					<a href="/services" class="btn btn-secondary mx-3">View Our Menu</a>
					<a href="/about#contactUs" class="btn btn-primary">Contact Us</a>
				</div>
			</div>
		</section>

		<div class="p-6">
			<section class="hero">
				<div class="hero-content flex-col lg:flex-row">
					<Image
						src="/img/hero-2.jpg"
						alt="Hero."
						width={768}
						height={768}
						class="max-h-svh lg:max-h-96 object-cover shadow-2xl"
					/>
					<div>
						<h2 class="text-2xl font-bold pb-4">Who We Are!</h2>
						<p class="text-lg pb-4">
							At Blessy Time, we pride ourselves on crafting memorable
							experiences through great food and outstanding service. With years
							of experience in catering events of all sizes, we are dedicated to
							making your special occasions even more delightful.
						</p>
						<a href="/about" class="btn btn-primary">Learn More</a>
					</div>
				</div>
			</section>

			<div class="divider"></div>

			<section class="hero">
				<div class="hero-content flex-col lg:flex-row-reverse">
					<Image
						src="/img/hero-3.jpg"
						alt="Hero."
						width={768}
						height={768}
						class="max-h-svh lg:max-h-96 object-cover aspect-square shadow-2xl"
					/>
					<div>
						<h2 class="text-2xl font-bold pb-4">Our Services!</h2>
						<p class="text-lg pb-4">
							Whether you're planning an intimate dinner party or a large-scale
							event, we have the perfect menu and service to suit your needs.
							Explore our customizable catering options and make your event
							unforgettable.
						</p>
						<a href="/services" class="btn btn-primary">See All Services</a>
					</div>
				</div>
			</section>

			<div class="divider"></div>

			<section class="flex flex-col items-center">
				<h2 class="text-2xl font-bold pb-4">Signature Dishes</h2>
				<p class="text-lg text-center pb-4">
					Whether you're planning an intimate dinner party or a large-scale
					event, we have the perfect menu and service to suit your needs.
					Explore our customizable catering options and make your event
					unforgettable.
				</p>
				<ul class="carousel bg-neutral rounded-box max-w-full space-x-4 p-4 mb-4">
					<li class="carousel-item relative shadow-sm">
						<Image
							src="/img/sig-dish/sig-1.JPG"
							alt="Hero."
							width={768}
							height={768}
							class="rounded-box max-w-64 object-cover"
						/>
						<div class="absolute top-3 text-accent-content">
							<h3 class="text-1xl font-bold px-2 py-1 bg-accent">Nasi Bakar</h3>
						</div>
					</li>
					<li class="carousel-item relative shadow-sm">
						<Image
							src="/img/sig-dish/sig-2.jpg"
							alt="Katsu"
							width={768}
							height={768}
							class="rounded-box max-w-64 object-cover"
						/>
						<div class="absolute top-3 text-accent-content">
							<h3 class="text-1xl font-bold px-2 py-1 bg-accent">Katsu</h3>
						</div>
					</li>
					<li class="carousel-item relative shadow-sm">
						<Image
							src="/img/sig-dish/sig-3.webp"
							alt="Sate"
							width={768}
							height={768}
							class="rounded-box max-w-64 object-cover"
						/>
						<div class="absolute top-3 text-accent-content">
							<h3 class="text-1xl font-bold px-2 py-1 bg-accent">Sate</h3>
						</div>
					</li>
					<li class="carousel-item relative shadow-sm">
						<Image
							src="/img/sig-dish/sig-4.jpg"
							alt="Blessy Coffee"
							width={768}
							height={768}
							class="rounded-box max-w-64 object-cover"
						/>
						<div class="absolute top-3 text-accent-content">
							<h3 class="text-1xl font-bold px-2 py-1 bg-accent">
								Blessy Coffee
							</h3>
						</div>
					</li>
				</ul>
				<a href="/services" class="btn btn-primary">View Full Menu</a>
			</section>

			<div class="divider"></div>

			<section>
				<h2 class="text-2xl font-bold pb-2 text-center">Testimonials</h2>
				<p class="text-lg pb-4 text-center">What Our Clients Say</p>
				<div class="grid gap-4 sm:grid-cols-2 lg:grid-cols-3 2x-l:grid-cols-4">
					<TestimonialCard
						username="User A"
						review="The best catering experience we've ever had! The food was incredible, and the service was top-notch. Highly recommend!"
						rank="5"
					/>
					<TestimonialCard
						username="User B"
						review="Our corporate event was a success, thanks to Blessy Time. The food was perfect, and everything was beautifully presented!"
						rank="5"
					/>
					<TestimonialCard
						username="User C"
						review="Blessy Time made our wedding perfect. Do yourself a favor, stop looking and call Blessy Time today!"
						rank="3"
					/>
					<TestimonialCard
						username="User x"
						review="The best catering experience we've ever had! The food was incredible, and the service was top-notch. Highly recommend!"
						rank="4"
					/>
					<TestimonialCard
						username="User x"
						review="The best catering experience we've ever had! The food was incredible, and the service was top-notch. Highly recommend!"
						rank="4"
					/>
					<TestimonialCard
						username="User x"
						review="The best catering experience we've ever had! The food was incredible, and the service was top-notch. Highly recommend!"
						rank="4"
					/>
				</div>
			</section>
		</div>
	</main>
</BaseLayout>
