---
import HeaderLink from "./HeaderLink.astro";
import { Icon } from "astro-icon/components";
import { SITE_TITLE } from "../consts";
import { Image } from "astro:assets";
---

<div class="drawer z-10">
	<input id="my-drawer-3" type="checkbox" class="drawer-toggle" />
	<div class="drawer-content flex flex-col">
		<!-- Navbar -->
		<nav class="navbar bg-base-300 w-full">
			<label
				for="my-drawer-3"
				aria-label="open sidebar"
				class="btn btn-square btn-ghost flex-none md:hidden order-2"
			>
				<Icon class="text-3xl" name="mdi--hamburger-menu" />
			</label>
			<a href="/" class="flex-1 mx-2 px-2">
				<Image src="/logo.svg" width={175} height={60} alt="Blessy Time Logo" />
			</a>
			<div class="hidden flex-none md:flex">
				<ul class="menu menu-horizontal">
					<!-- Navbar menu content here -->
					<li><HeaderLink href="/">Home</HeaderLink></li>
					<li><HeaderLink href="/services">Services</HeaderLink></li>
					<li><HeaderLink href="/about">About</HeaderLink></li>
				</ul>
				<div class="divider divider-horizontal"></div>
				<ul class="menu menu-horizontal">
					<li><a><Icon class="text-3xl" name="mdi--facebook" /></a></li>
					<li><a><Icon class="text-3xl" name="mdi--instagram" /></a></li>
				</ul>
			</div>
		</nav>
	</div>
	<div class="drawer-side">
		<label for="my-drawer-3" aria-label="close sidebar" class="drawer-overlay"
		></label>
		<ul class="menu bg-base-200 min-h-full w-80 p-4">
			<!-- Sidebar content here -->
			<li>
				<a href="/" class="flex-1 mx-2 px-2">
					<Image
						src="/logo.svg"
						width={175}
						height={60}
						alt="Blessy Time Logo"
					/>
				</a>
			</li>
			<li><HeaderLink href="/">Home</HeaderLink></li>
			<li><HeaderLink href="/blog">Blog</HeaderLink></li>
			<li><HeaderLink href="/about">About</HeaderLink></li>
			<div class="divider divider-horizontal"></div>
			<ul class="menu menu-horizontal">
				<li><a><Icon class="text-3xl" name="mdi--facebook" /></a></li>
				<li><a><Icon class="text-3xl" name="mdi--instagram" /></a></li>
			</ul>
		</ul>
	</div>
</div>
